@model TVTProject2.Models.ViewModels.ProjectDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" readonly />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <span>Number of People assigned to this project: @Model.Count</span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" readonly/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" readonly/>
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div>
                <span>Days until Project is due: @Model.ProjectDue</span>
            </div>
            <div>
                @foreach (var item in Model.People)
                {
                    <div class="flex-column d-flex pt-2">
                        <div class="d-flex flex-column">
                            <span>Name: @item.Name</span>
                            <div>
                                <a asp-controller="Person" asp-action="AssignRole" asp-route-projectId="@item.ProjectId" asp-route-personId="@item.PersonId" class="border-right border-dark pr-1">Assign Role</a>
                                <a asp-controller="Person" asp-action="RemoveRole" asp-route-projectId="@item.ProjectId" asp-route-personId="@item.PersonId" class="border-right border-dark pr-1">Remove Role</a>
                                <a asp-action="RemovePerson" asp-route-projectId="@item.ProjectId" asp-route-personId="@item.PersonId">Remove from project</a>
                            </div>
                        </div>
                        <span>Number of Roles: @item.projectRoles.Count()</span>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            @foreach(var role in item.projectRoles)
                            {
                                <span>@role</span>
                            }
                        </div>
                    </div>
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Assign" asp-route-id="@Model.ProjectId" class="border-right border-dark pr-1">Assign Person</a>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId" class="border-right border-dark pr-1">Edit Project</a>
    <a asp-action="Index">Back to Project List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
